#footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 150px;
	border-top: 1px solid var(--color-border);
	margin-top: 50px;
	position: absolute;
	height: 125px;
	background-color: var(--color-primary);
	color: var(--color-bg-secondary);
}

#contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	font-size: var(--font-size-lg);
}

#instagram-contact {
	transition: transformation 0.1 ease-in-out;
}

#instagram-contact:hover {
	color: pink;
	transform: scale(1.05);
}

#email-contact {
	transition: transformation 0.1 ease-in-out;
}

#email-contact:hover {
	color: cyan;
	transform: scale(1.05);
}

#credits {
	width: 100%;
	align-self: center;
	justify-self: center;
	text-align: center;
	bottom: 0;
	margin-top: auto;
}

#credits a {
	text-decoration: underline;
}

@media (max-width: 768px) {
	#footer {
		height: auto;
	}

	#contacts {
		flex-direction: column;
		gap: 20px;
		text-align: center;
	}

	#contacts div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
