<form id="login-form">
	<h1>Login</h1>
	<button id="btn-close">X</button>
	<label for="email">Email:</label>
	<input type="email" id="email" name="email" required />

	<label for="password">Senha:</label>
	<input type="password" id="password" name="password" required />

	<button type="submit">Entrar</button>
</form>

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../src/assets/css/main.css" />
		<title>Login</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script type="module" src="../src/assets/js/main.js"></script>
	</head>
	<body>
		<header id="header"></header>

		<main id="main">
			<section id="login-section">
				<h1>Login</h1>
				<form id="login-form">
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" required />

					<label for="password">Senha:</label>
					<input type="password" id="password" name="password" required />

					<button type="submit">Entrar</button>
				</form>
			</section>
		</main>
	</body>
</html>

